body{
font-family:Arial;
background:linear-gradient(135deg,#667eea,#764ba2);
display:flex;
justify-content:center;
padding:30px;
color:#333;
}

.container{
background:white;
padding:20px;
border-radius:15px;
width:700px;
box-shadow:0 10px 25px rgba(0,0,0,.2);
}

.input-box{
display:flex;
flex-wrap:wrap;
gap:10px;
margin-bottom:15px;
}

input,select,button{
padding:10px;
}

button{
background:#ff6b6b;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

li{
display:flex;
justify-content:space-between;
background:#f1f1f1;
padding:10px;
margin:8px 0;
border-radius:8px;
}

.income{border-left:6px solid green}
.expense{border-left:6px solid red}
